@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

* {
  font-family: "Quicksand", "Arial";
}

html, body {
  height: 100%;
}

body {
  background: linear-gradient(to right, #009ffd, #2a2a72);
}

p {
  color: #fff;
  font-weight: 500;
  margin: 0 !important;
}

span {
  color: #fff;
}

img {
  width: 25px;
}

.app {
  width: 100%;
}

.search-city-button {
  height: 36px;
}

.input-city {
  &:focus {
    outline: none;
  }
}

.weather-main {
  color: cyan;
}

.weather-temp {
  font-size: 60px;
  margin: 0;
}

.current-datetime {
  font-size: 20px;
}

.current-city {
  font-size: 30px;
}

.weather-main-icon {
  width: 90px;
}

.forecast-icon {
  width: 60px;
}

.forecast-splitting-line {
  height: 1px;
  background-color: #fff;
}
