@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

* {
  font-family: "Quicksand";
}

p {
  color: #fff;
  font-weight: 500;
  margin: 0 !important;
}

.app {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to right, #009ffd, #2a2a72);
}

.search-city-button {
  height: 36px;
}

.search-city-icon {
  width: 25px;
}

.input-city {
  &:focus {
    outline: none;
  }
}

.weather-main {
  color: cyan;
}

.weather-temp {
  font-size: 60px;
  margin: 0;
}
